/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --block-sizing: clamp(23.438rem, 16.259rem + 30.545vw, 43.75rem);

  --padding-header-top: clamp(7.5rem, 7.147rem + 1.504vw, 8.5rem);

  --font-main: "Inter-Variable";
  --font-accent: "PressStart2P";

  --font-size-heading-l: clamp(3.063rem, 2.709rem + 1.504vw, 4.063rem);
  --font-size-heading-m: clamp(0.875rem, 0.676rem + 0.846vw, 1.438rem);

  --weight-text: 400;
  --weight-title: 700;

  --bkg-grad: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --color-heart: #ff0000;
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-green: #00cc14;
}
